<ion-header>
  
  <ion-navbar no-border-bottom>

    <ion-buttons start>
      <button *ngIf="rtlBack" (click)="backRtlTransition()" ion-button class="custom-back-button">
          <ion-icon name="arrow-back"></ion-icon>
          {{'Back' | translate }}
      </button>

      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>

    </ion-buttons>

    <img class="header-logo" *ngIf="show_header_logo" [src]="header_logo_url" />

    <ion-title *ngIf="!show_header_logo">{{title | translate}}</ion-title>

    </ion-navbar>

    <ion-toolbar>
      <ion-searchbar placeholder="{{'Enter search text...' | translate }}" debounce="1000" (ionInput)="search($event)" (ionClear)="clearSearch()"></ion-searchbar>
    </ion-toolbar>

</ion-header>

<ion-content [ngClass]="customClasses">

  <ion-grid *ngIf="isShowSpinner" style="height:100%">
    <ion-row justify-content-center align-items-center style="height:100%">
      <ion-spinner></ion-spinner>
    </ion-row>
  </ion-grid>

  <ion-list *ngIf="defaultlist">

    <ion-item-sliding *ngFor="let item of items" #slidingItem>
      <button ion-item (click)="itemTapped($event, item)">

      <ion-avatar item-left *ngIf="item.featured_image_urls">
        <img *ngIf="item.featured_image_urls && item.featured_image_urls.thumbnail" src="{{item.featured_image_urls.thumbnail}}">
        <img *ngIf="!item.featured_image_urls || !item.featured_image_urls.thumbnail" src="assets/default.png">
      </ion-avatar>

      <div *ngIf="item.appp && item.appp.post_list && item.appp.post_list.above_title" [innerHTML]="item.appp.post_list.above_title"></div>

      <h2 *ngIf="item.title && item.title.rendered" [innerHTML]="item.title.rendered"></h2>

      <div *ngIf="item.appp && item.appp.post_list && item.appp.post_list.below_title" [innerHTML]="item.appp.post_list.below_title"></div>

      <p *ngIf="item.excerpt && item.excerpt.rendered" [innerHTML]="item.excerpt.rendered"></p>

      <div *ngIf="item.appp && item.appp.post_list && item.appp.post_list.below_content" [innerHTML]="item.appp.post_list.below_content"></div>

      </button>

    </ion-item-sliding>

  </ion-list>

  <ion-list *ngIf="cardlist">

    <ion-card (click)="itemTapped($event, item)" *ngFor="let item of items">
      
      <div class="card-featured-wrap" *ngIf="item.featured_image_urls && item.featured_image_urls.large">
        <img src="{{item.featured_image_urls.large}}">
      </div>

      <div *ngIf="item.appp && item.appp.post_list && item.appp.post_list.above_title" [innerHTML]="item.appp.post_list.above_title"></div>

      <ion-card-content>

        <ion-card-title *ngIf="item.title && item.title.rendered">
          <h2 [innerHTML]="item.title.rendered"></h2>
        </ion-card-title>

        <div *ngIf="item.appp && item.appp.post_list && item.appp.post_list.below_title" [innerHTML]="item.appp.post_list.below_title"></div>

        <p *ngIf="item.excerpt && item.excerpt.rendered" [innerHTML]="item.excerpt.rendered"></p>

      </ion-card-content>

      <div *ngIf="item.appp && item.appp.post_list && item.appp.post_list.below_content" [innerHTML]="item.appp.post_list.below_content"></div>

    </ion-card>

  </ion-list>

  <ion-infinite-scroll (ionInfinite)="loadMore($event)">
   <ion-infinite-scroll-content></ion-infinite-scroll-content>
 </ion-infinite-scroll>

</ion-content>
